
<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <div class="col-md-6">

        <h1>Murderer! You killed a photo!</h1>

<p>
  There are now <%=@number_of_pictures%> photos.
</p>

<p>
  <a href="/photos">
    Click here
  </a>

  to go back.
</p>


      </div>
    </div>
  </body>
</html>