
<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <div class="col-md-6">

        <h1>Edit Photo 126</h1>

<form action="/update_photo/126">
  <div>
    <label for="source_input">
      Image URL
    </label>

    <input id="source_input" type="text" name="the_source" value="jhjhklhljhk">
  </div>

  <div>
    <label for="caption_input">
      Caption
    </label>

    <input id="caption_input" type="text" name="the_caption" value="vhhjhhh">
  </div>

  <button>
    Update Photo
  </button>
</form>


      </div>
    </div>
  </body>
</html>
