<!DOCTYPE html>
<html>
      <head>
    <title>Target Photogram Golden Seven</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="x2d7E/xPuiJmYveMqK0gmkKPYJg9Nm0fABTnRmpJOWFXCYchlPxnIf5LGlqWnGqU/L8uXPHMzDu+96eD/obe1Q==" />

    <link rel="stylesheet" media="all" href="/assets/application-1c79c29286204cfec74780022d0186e27fc9f09c8b5ae96d566e54dca4b9ce48.css" />
    <script src="/assets/application-a1b05e0595224c422d49fd5ef6dd6cb8f9655f710b432bb9b8a6af9638eca09a.js"></script>
  </head>
  
  
  <body>
    <div class="container">
      <div class="col-md-6">

        <h1>All Photos</h1>

<a href="/photos/new">
  Add a new photo
</a>

<ul>
  <% @photo_array.each do |info| %>
  <div class="thumbnail">
    <img src="<%= Photo.find(info).source %>">

    <div class="caption">
      <a href="/photos/<%= Photo.find(info).id %>" class="btn btn-default btn-block">
        Show Details
      </a>

      <a href="/photos/<%= Photo.find(info).id %>"/edit" class="btn btn-default btn-block">
        Edit
      </a>

      <a href="/delete_photo/<%= Photo.find(info).id %>"" class="btn btn-default btn-block">
        Delete
      </a>
    </div>
  </div>

  <% end %>
</ul>