<!DOCTYPE html>
<html>
 <body>
    <div class="container">
      <div class="col-md-6">

        <h1>Cool Photos Only</h1>

<form action="/create_photo">
  <div>
    <label for="Image URL">
      Image URL
    </label>

    <input id="Image URL" type="text" name="the_source">
  </div>

  <div>
    <label for="caption">
      Caption
    </label>

    <input id="caption" type="text" name="the_caption">
  </div>

  <button>
    Create Photo
  </button>
</form>


      </div>
    </div>
  </body>
</html>
